#mush{
    left:50%;
    top:50%;
    position: absolute;
    margin-top: -50px;
    margin-left: -50px;

}

#score{
    text-align: center;
}

body {
    background-color: #a3a2a2;
    background-color: hsl(0%, 0%, 63%);
}