#mush{
    left:50%;
    top:50%;
    position: absolute;
    margin-top: -85px;
    margin-left: -60px;

}

#score{
    text-align: center;
    font-size: 250%;
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-image: url('../images/background.jpg');
}

#endgame{
    text-align: center;
    position: absolute;
    left: 50%;
    top: 90%;
    width: 14vh;
    margin-left: -7vh;
    font-size: 3vh;
    margin-right: 7vh;
}


#audioplayer{
    position: absolute;
    left: 5%;
    top: 90%;
    width: 25vh;
}